body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f8ff;
  width: 100%;
}

h1 {
  color: #007bff;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.meeting-summary {
  background-color: rgba(0, 123, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.meeting-item {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.meeting-details {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  background-color: aliceblue;
  color: black;
  border: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #007bff;
  color: white;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.highlight-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.highlight-yellow {
  background-color: rgba(255, 255, 0, 0.2);
}